.homepage-hero {
	background-image:url(../images/london.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width:100%;
	height: 100vh;
	position: relative;
	color:#fff;
	margin-top:-60px;
	.vertical-align-parent();
  @media (max-width: @screen-xs-max) {
    height: 100%;
    margin-top:0;
  }
}
.homepage-hero .down-arrow {
	position:absolute;
	bottom:30px;
	left:0;
	width:100%;
}
.homepage-hero .fa-chevron-down {
	font-size:40px;
  color:@inverse;
}
.homepage-hero h1 {
	font-weight:@font-bold;
	font-size:40px;
	color:@inverse;
	margin-bottom:50px;
  @media (max-width: @screen-xs-max) {
    font-size:32px;
  }
}
.homepage-hero article {
	background-color: rgba(255,255,255,.8);
	padding:30px;
	height:250px;
	position:relative;
	border:#fff solid 5px;
  @media (max-width: @screen-xs-max) {
    height:auto;
    margin-bottom:30px;
  }
}
.homepage-hero article h2 {
	margin-bottom:10px;
}
.homepage-hero article .btn-wrapper {
	position:absolute;
	bottom:30px;
	left:0px;
	width:100%;
  @media (max-width: @screen-xs-max) {
    position:inherit;
    bottom:0;
  }
}
.homepage-apps {
	background-color:@clouds;
	padding:50px 0;
}
.homepage-apps h2 {
	margin-bottom:10px;
}

/* Quote */

.quote blockquote.bubble {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-bottom: #bdc3c7 solid 3px;
	box-sizing: border-box;
	font-weight: 300;
	line-height: normal;
	padding: 15px 30px;
}

.quote blockquote.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: @clouds transparent !important;
  display: block;
  width: 0;
  z-index: 10;
  bottom: -10px;
  left: 30px;
}

.quote blockquote.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 12px 0;
  border-color: @silver transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -15px;
  left: 28px;
}

.quote blockquote p:before {
  content: "\f10d";
  font-family:FontAwesome;  
  position: absolute;
  left:0px;
  top:15px;
  color:@silver;
}
.quote ul.quote-author {
  list-style-type: none;
  margin:0 0 0 20px;
  padding: 0;
  position: relative;
  display: table;
}
.quote .quote-author li {
  margin:0;
  padding: 0;
  vertical-align: middle;
  font-size: 13px;
  display: table-cell;
}
.quote .quote-author li:first-child {
  vertical-align: top;
  text-align: center;  
}
.quote .quote-author li:last-child {
  padding-left: 15px;
}

/* Section Heros */

.page-hero .container {
	height:300px;
	text-align:center;
}
.page-hero h1 {
	margin:0;
}
.text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.case-study-hero {
	background-image:url(../images/case-study-hero.png);
  	background-repeat: repeat-x;
  	background-position: center;
}
.open-data-hero {
	background-image:url(../images/open-data-hero.png);
  	background-repeat: repeat;
	background-position: center;
}
.open-performance-hero {
	background-image:url(../images/open-performance-hero.png);
  	background-repeat: repeat-x;
  	background-position: center;
}
.open-data-guide-hero {
	background-image:url(../images/open-data-guide-hero.png);
  	background-repeat: repeat-x;
  	background-position: center;
}


/* Section colors */

.green-sea {
	background-color:@green-sea;
}
.wet-asphalt {
	background-color:@wet-asphalt;	
}
.clouds {
	background-color:@clouds;	
}
.belize-hole {
	background-color:@belize-hole;	
}
.pomegranate {
	background-color:@pomegranate;	
}
.midnight-blue {
	background-color:@midnight-blue;	
}
.pomegranate *, .belize-hole *, .wet-asphalt *, .green-sea *, .midnight-blue * {
	color:white
}

/* Features */

.feature {
	height:400px;
}

	.newsletter {
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0;
		font-weight: 300;
		line-height: 1.5;
		h2 {
			font-size: 2.5em;
			font-weight: 300;
			margin-bottom: 8px;
		}
		h3 {
			font-weight: 300;
			font-size: 1.6em;
			margin: 0 0 25px;
		}
		p {
			strong {
				text-transform: uppercase;
				font-weight: 300;
				letter-spacing: 6px;
			}
		}
    // used !important to get around Marketo in-line styles
    form {
      width: 100% !important;
      height:205px;
      overflow:hidden;
      position:relative;
      padding:0 !important;
      .mktoFormRow {
      	margin-bottom:10px !important;
        .mktoFormCol, .mktoFieldWrap {
          width: 100%;
          margin-bottom: 0 !important;
        }
        .mktoOffset, label {
          display: none;
        }
        .mktoGutter {
          width: 0px !important;
        }
        input {
          width: 100% !important;
          border: none !important;
          padding: 10px;
          margin-top: 0px;
          border-radius:0 !important;
          box-shadow: none !important;
          height:33px !important;
          line-height:normal;
          font-size:13px !important;
        }
        input#Title {
          width: 50% !important;
        }
      }
      .mktoButtonRow {
        position: absolute;
        right: 0px;
        width: 42%;
        bottom: 0px;
        .mktoButtonWrap {
          margin-left: 0 !important;          
          button {
            border: none !important;
            background-image: none !important;
            box-shadow: none;
            width: 100%;
            padding: 0 !important;
            background-color: #e19c46;
            border-radius:0 !important;
            height:33px !important;
            &:hover {
              border: none;
              background-color: darken(#e19c46, 10%);
            }
          }
        }
      }
    }
	}

@media(@sm)  {
	.homepage-hero article p {
		font-size:14px;
	}
}
