body {
  font-family: 'Open Sans', sans-serif;
}
html {
  overflow-y:scroll;
  height: 100%;
}
.main {
  padding-left:0 !important;
  padding-right:0 !important;
  padding-top:50px;
  padding-bottom:50px;
}
.page-template-template-full-width .main {
  padding-top:0;
  padding-bottom:0;
}
.wrap {
  padding-top:60px;
}
.row {
  margin-left:0 !important;
  margin-right:0 !important;
}
h1, h2, h3, h4, h5 {
  font-weight: @font-medium;
  color:@midnight-blue;
}
h1, h2 {
  font-weight: @font-light;
  letter-spacing:-1px;
  margin:0 0 1.5em 0;
}
p, li {
  font-weight: @font-light;
  color:@wet-asphalt;

}
p {
  margin:0 0 1.5em 0;
}
a:hover {
  text-decoration:none;
}
hr {
  border:0;
  color:#ddd;
  height:1px;
  background: #ddd; /* Old browsers */
  clear:both;
  margin:0;
}
.vertical-align-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.narrow-content {
  max-width:960px;
  margin-left:auto;
  margin-right:auto;
}
.section-padding {
  padding:50px 0;
}